



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
</head>
<body>
    <header class="painel">
      <nav class="menu">
        <div class="conteudo">
            <ul>
                <li><a routerLink="/home">Inicio</a></li>
                <li><a href="#">Cardápio</a></li>
                <li><a href="#">Promoções</a></li>
            </ul>
        </div>
      </nav>
      <aside class="login">
        <a routerLink="/login">Fazer login</a>
      </aside>
    </header>
    
    <header>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingNome" >
        <label for="floatingPassword">Nome:</label></div>

        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingSobrenome" >
        <label for="floatingPassword">Sobrenome:</label></div>

    
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" >
            <label for="floatingInput">E-mail:</label></div>


          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" >
            <label for="floatingPassword">Senha:</label>  </div>
        </header>

        <button type="button" class="btn btn-danger">Danger</button>
        
    
</body>



