body {
    height: 85vh;
    margin: 0px;
    background-color: #fdf1f1;
    align-content: center;
    overflow-y: scroll;
    }
    
    .painel {
    background-color: #70ebc2;
    height: 80px;
    font-size: 1.2rem;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 9px -2px rgba(80, 79, 79, 0.75);
    }
    
    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    .painel a {
    text-decoration: none;
    color:snow;
    padding: 10px 15px;
    }
    
    ul a:hover {
    background:rgb(199, 70, 120);
    box-shadow: 2px 2px 1px 1px rgb(105, 102, 102);
    }
    .login {
    background-color: rgb(199, 70, 120);
    color: #fff;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 1px 1px rgb(180, 174, 174);
    }
    
    .login:active {
    box-shadow: none;
    }
    
    .menu ul{
    display: flex;
    }
    
    .menu {
    flex-grow: 10;
    }
    
    .menu li{
    margin: 0px 40px;
    }
    


    .header {
        height: 85vh;
        margin: 0px;
        background-color: #fdf1f1;
        overflow-y: scroll;
    }